<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#"> Mi página.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  </body>
</html>